<style>
    .hero {
      border-radius: 2px;
      background: #f2f2ec;
      font-family: "Inter", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      padding: 2em 4em;
    }
    .hero .primary {
      border-radius: 4px;
      background: #344d81;
      padding: 10px 10px;
      color: white;
      width: fit-content;
      cursor: pointer;
    }
  
    .hero .subtitle {
      margin-bottom: 1em;
    }
  </style>
  <div class="hero">
    <h2><span style="font-weight: 400">An open operating system. Built on the Web</h2>
    <h4 class="subtitle">
        Web as is in HTML/CSS/JS, and it runs on hardware. Yes it's totally <i>open</i>. 
    </h4>
    <a href="/quickstart" style="text-decoration: none;" ><div class="primary">Quickstart</div></a>

  </div>
  