<div style="width:100%; display:flex; flex-direction: column; align-items: center; justify-content: center;">
<div style="width:100%; display:flex; justify-content: center;">
  <ul id="footer-icons">
    <li>
      <a href="https://matrix.to/#/#capyloon:matrix.org" title="Chat On Matrix"
      class="wrapper"
        ><img
          style="margin:0;"
          src="/images/matrix-favicon.png"
          alt="Chat On
Matrix"
          width="32px"
      /></a>
    </li>
    <li>
      <a href="https://github.com/capyloon" title="Code On Github"
      class="wrapper"
        ><img
        style="margin:0;"
          src="/images/GitHub-Mark-64px.png"
          alt="Code On Github"
          width="32px"
        />
      </a>
    </li>
    <li>
      <a
        href="https://fosstodon.org/@capyloon"
        title="Follow Us On
Mastodon"
        class="wrapper"
        ><img
        style="margin:0;"
          src="/images/mastodon.svg"
          alt="Follow Us On
Mastodon"
          width="32px"
        />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/capyloon" title="Follow Us On Twitter"
      class="wrapper"
        ><img
        style="margin:0;"
          src="/images/2021-Twitter-logo-black.png"
          alt="Follow Us On Twitter"
          width="32px"
      /></a>
    </li>
  </ul>
</div>
<p style="color: black; text-align: center; width: 100%; margin-top: 12px;">Say hi. We're open to contributions. <br/> See <a href="#"><u>guidelines</u></a></p>
</div>
<script type="text/javascript" src="/js/carousel.js"></script>
<link rel="stylesheet" href="/css/carousel.css" />
