<center>
  <ul id="footer-icons">
    <li>
      <a href="https://matrix.to/#/#capyloon:matrix.org" title="Chat On Matrix"
        ><img
          src="/images/matrix-favicon.png"
          alt="Chat On
Matrix"
          width="32px"
      /></a>
    </li>
    <li>
      <a href="https://github.com/capyloon" title="Code On Github"
        ><img
          src="/images/GitHub-Mark-64px.png"
          alt="Code On Github"
          width="32px"
        />
      </a>
    </li>
    <li>
      <a
        href="https://fosstodon.org/@capyloon"
        title="Follow Us On
Mastodon"
        ><img
          src="/images/mastodon.svg"
          alt="Follow Us On
Mastodon"
          width="32px"
        />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/capyloon" title="Follow Us On Twitter"
        ><img
          src="/images/2021-Twitter-logo-black.png"
          alt="Follow Us On Twitter"
          width="32px"
      /></a>
    </li>
  </ul>
  <p style="color: black;">Say hi. We're open to contributions. <br/> See <a href="#"><u>guidelines</u></a></p>
</center>
<script type="text/javascript" src="/js/carousel.js"></script>
<link rel="stylesheet" href="/css/carousel.css" />
