{{ partial "header.html" . }}

  <body class="" data-url="{{ .RelPermalink }}" style="background: #F2F2EC;">
    {{ partial "menu.html" . }}
        <section id="body">

        <div id="top-bar" style="background: #F2F2EC;">
            {{ if and (or .IsPage .IsSection) .Site.Params.editURL }}
              {{ $File := .File }}
              {{ $Site := .Site }}
              {{with $File.Path }}
              <div id="top-github-link">
                <a class="github-link" title='{{T "Edit-this-page"}}' href="{{ $Site.Params.editURL }}{{ replace $File.Dir "\\" "/" }}{{ $File.LogicalName }}" target="blank">
                  <i class="fas fa-code-branch"></i>
                  <span id="top-github-link-text">{{T "Edit-this-page"}}</span>
                </a>
              </div>
              {{ end }}
            {{ end }}
            {{$toc := (and (not .Params.disableToc) (not .Params.chapter))}}
            <div id="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span id="sidebar-toggle-span">
                        <a href="#" id="sidebar-toggle" data-sidebar-toggle="">
                        <i class="fas fa-bars" style="font-size: x-large;"></i>
                        </a>
                    </span>
                {{ partial "header-logo.html" . }}
            </div>
            </div>
        

            <h2> An operating system built with the web. </h2>
            <h3>Open for everyone to use. Privacy first. And a whole lot of freedom to use anywhere</h3>
     </body>

     {{ partial "footer.html" . }}